<div style="height:180px;"></div>
<div class="logout-page panel">
    <div class="page-header" style="padding-left:10px;font-weight:bold;">
        <h1>Welcome To PSI-Incontrol</h1>
    </div>
    <div class="row" style="height:300px;padding:25px;">
        <b>Mission Statement</b>
        <br />
        <br />
        We are committed to comprehensive quality by integration of all business processes in accordance with the TQM model. This philosophy is not only the basis of our external business relations but also governs our internal processes. All our employees cooperate across the individual departments as internal customers and suppliers. We believe in long-term partnership with our customers through our  empowered people and in meeting our customers’ requirements and committed to continuous improvement.
    </div>
</div>
